<% number = 0 %>
<%= form_for([@project, @ticket], html: { multipart: true } ) do |f| %>
<p>
<%= render 'shared/error_messages', object: f.object %>

<%= f.label(:title) %>
<%= f.text_field(:title) %>

<%= f.label(:description) %>
<%= f.text_area(:description) %>
<%=render partial: "files/form", locals: { number: number } %>
<%= link_to "add another file", new_file_path, remote: true, update: "files", 
position: "after", id: "add_another_file" %>

</p>
<%= f.submit %>
<% end %>