<% @project.tickets.each do |tkt| %>
<ul >

<li id="ticket"> #<%=  tkt.id  %> -<%= link_to(tkt.title, [@project, tkt]) %>

<%= simple_format(@ticket.description) %>
<%= link_to("Edit Ticket", [:edit, @project, @ticket]) %>
<%= link_to("Delete Ticket", [@project, @ticket], method: :delete, confirm: "are you sure mate") %>
</li>
<% end %>
</ul>
