<% title(@project.name, "project") %>
<h2>My Project</h2>
<li><%= @project.name %></li>
<%= admins_only do %>

<%= link_to("Edit Project", edit_project_path(@project)) %>
<%= link_to("delete project", @project, method: :delete, 
	         confirm: "are you sure mate") %>

<% end -%>
<%= authorized?("create tickets".to_sym, @project) do %>
<%= link_to("New Ticket", new_project_ticket_path(@project)) %>	 
<% end -%>
<%# i passed the @project to the nested route because i want create%>
<%# a new ticket belonging to a project association it wants  %>
<%# know what project does the ticket belong to it is nested routes take one arg always%>
